/* Basic Settings: flex column, fonts and colors */
body {
    max-width: 100%;
    background-color: blanchedalmond;
    color: #f6872e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

/* Width restriction in overall main-container to have white borders to the left and the right */
.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Here starts the Header section */
/* Upper Header settings: logo to the left, navigation elements to the right */
.upper-header {
    display: flex;
    align-content: space-between;
    background-color: blanchedalmond;
    margin-bottom: 15px;
}

.logo {
    display: flex;
    height: 120px;
    align-content: flex-start;
    padding: 15px 15px 0 15px;
}

.navigation {
   display: flex;
   flex: 1;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-end;
   width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    list-style-type: none;
    padding: 5px 5px 0px 5px;
    margin: 15px 15px 0px 15px;   
}

/* General link specifications */
a:link {
    color: #f6872e;
    text-decoration: none;
}

a:visited {
    color: #f6872e;
}

a:link:hover,
a:visited:hover {
    color: rgb(169, 191, 169);
}

a:active {
    color: #f6872e;
}

/* Lower Header settings: h1, text and button in column to the left; img in row to the right; all centered to the "middle axes" */
.lower-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 500px;
    width: 100%;
    background-image: url("img/Background.jpg");
    gap: 15px;
}

.welcome {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    text-align: right;
    width: 50%;
    box-sizing: border-box;
}

h1 {
    font-family: Shrikhand, Georgia, "Times New Roman", serif;
    color: white;
    -webkit-text-stroke-color: #f6872e;
    -webkit-text-stroke-width: 0.75px;
    font-size: 50px;
    font-weight: 900;
    line-height: 1;
    max-width: 450px;
}

.text {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    border: 3px solid transparent;
    border-radius: 15px;
    width: fit-content;
    max-width: 450px;
    padding: 15px;
}

button {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color:lightpink;
    border: 5px solid white;
    border-radius: 15px;
    padding: 5px;
    width: 135px;
    max-height: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-image {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}

.header-image img {
    display: flex;
    max-height: 350px;
    max-width: 466px;
    object-fit: contain;
    border: 5px solid white;
    border-radius: 15px; 
    margin: 10px;
}

/* Button Link specifications */
.button-link {
    color: white;
}

button:hover {
    color: rgb(169, 191, 169);
}

/* Added Media Querys to help with responsiveness on small screens */
@media (max-width: 768px) {
    .lower-header {
        flex-direction: column;
        align-items: center; 
    }

    .welcome,
    .header-image {
        width: 100%;
    }

    .header-image img {
        max-width: 90%; 
        height: auto;
    }
}

@media (max-width: 768px) {
    .lower-header {
        flex-direction: column;
        align-items: center;
    }

    .welcome,
    .header-image {
        width: 100%;
        align-items: center; 
        text-align: center;
    }

    .text {
        max-width: 100%;
        word-wrap: break-word;
    }

    h1 {
        font-size: 36px; 
        max-width: 100%;
    }

    .header-image img {
        max-width: 90%;
        height: auto;
    }
}
/* Here ends the Header section */
/* Here starts the 4-Facts section */
h2 {
    font-family: Shrikhand, Georgia, "Times New Roman", serif;
    color:#f6872e;
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin: 20px;
}

.facts-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
    margin: 20px;
} 

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.card img {
    max-height: 175px;
    max-width: auto;
    object-fit: contain;
    border: 5px solid white;
    border-radius: 15px; 
    margin: 10px;
}

.card p {
    max-width: 200px;
    max-height: fit-content;
}

/* Added Media Query to help with responsiveness on small screens */
@media (max-width: 768px) {
  .facts-container {
    flex-direction: column;
    align-items: center;
  }

  .card img {
    max-width: 100%;
  }

  .card p {
    max-width: 90%;
  }
}
/* Here ends the 4-Facts section */
/* Here starts the Quote section */
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-height: 400px;
    width: 100%;
}

.main-quote {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 500;
    text-align: right;
    color: rgb(169, 191, 169);
    max-width: 650px;
    max-height: fit-content;
    padding: 15px;
}

.author {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    font-size: 18px;
    font-weight: 600;
    max-width: 600px;
    width: 100%;
    max-height: fit-content;
    padding: 0 15px 15px 15px;
}

/* Added Media Query to help with responsiveness on small screens */
@media (max-width: 768px) {
  .quote {
    flex-direction: column;
    align-items: center;
  }

  .main-quote {
    max-width: 100%;
  }

  .author {
    max-width: 90%;
  }
}
/* Here ends the Quote section */
/* Here starts the Call section */
.call {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    min-height: 200px;
    background-color:#f6872e;
    padding: 15px;
    margin: 60px auto;
    border: 3px solid transparent;
    border-radius: 15px;
}

.call-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.call-text-title {
    font-family: Shrikhand, Georgia, "Times New Roman", serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
    padding: 0 30px;
}

.call-text p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px; 
  color: white;
  padding: 0 30px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.call-button {
    width: 140px;
    height: 100%;
    margin: 15px;
}

/* Added Media Query to help with responsiveness on small screens */
@media (max-width: 768px) {
  .call {
    flex-direction: column;
    align-items: center;
  }

  .call-text {
    max-width: 100%;
  }

  .button-container {
    max-width: 90%;
  }
}
/* Here ends the Call section */
/* Here starts the Footer section */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
    color: white;
    width: 100%;
    height: 40px;
}
/* Here ends the Footer section */